<div>
    <%= form_tag index_not_done_project_tasks_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tag"
    %>
    <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
    <% end %>
    <br>
</div>

<%= render "index" %>