
<div class="container">
    <div class+="row justify-content-center">
        <div class="col-sm-12">
            <%= form_tag index_not_done_project_tasks_path, class: "form-inline", method: :get do %>
            <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a tag"
            %>
            <%= submit_tag "Search", class: "btn btn-outline-primary my-2 my-sm-0" %>
            <% end %>
            <br>
            <%= render "index" %>
        </div>
    </div>
</div>
