<%
=begin%>
 maybe I wanna have a link to the new page in my index page
 links are similiar to the redirect functionality in principle

 and also to the show page of the project
 when I don't have to use just the string as a visible link
<%
=end%>



<h1>My projects </h1>
 <%= link_to "Create a new project", new_project_path, class: "btn btn-primary" %> 
<br>
<br>

<% @projects.each do |project| %>
    <p>
        <strong>Project title: </strong><%= link_to project.title, project_path(project)%>
        <strong>Position: </strong> <%= project.position%>
        <%= link_to 'delete project', project_path(project), class: "btn btn-primary", method: :delete, data: {confirm: "Are ty jsi you sure to delete? That's very final decisin you know ... ðŸ§Â "} %>
    </p>
<% end %>

