<%= render "shared/flashes" %>

<div class="container">
    <div class+="row justify-content-center">
        <div class="col-sm-12">
            <%= simple_form_for @tag do |f| %>    
                <%=f.input :title %>
                <%=f.submit %>
            <% end %>
        </div>
    </div>
</div>
